/* Seccion root del dashboard */

:root {
    --bgColor: #fff;
    --mainFont: Poppins;
    --fontSize: 35px;
    --fontSizeSubtitulo: 25px;
    --ligth: 300;
    --mainColor: #006E72;
    --textColorSecondary: #4D4D4D;
}

main.root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
}

.separador {
    height: 80px;
    /* background-color: red; */
}

.sidebar {
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .icon {
    background-color: rgba(255, 255, 255, 0.253);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    transform: scale(.9);
    transition: .4s;
}

.sidebar .icon:hover {
    transform: scale(1);
    transition: .4s;
}


/* Dashboard */

.dashboard {
    padding: 0px 30px;
}


/* Textos principales */

p.titleDashboard {
    color: var(--mainColor);
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    text-align: left;
}

p.subtitleDashboard {
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    color: #2C2C2C;
}

.dashboard .contenedorPending {
    width: 100%;
    display: flex;
}

.dashboard .contenedorPending .activity {
    margin: 20px;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px #00000025;
    border-radius: 40px;
    position: relative;
}

img.imgActivitie {
    width: 30px;
}

.dashboard .contenedorPending .activity span.iconStatus {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #FFAE43;
    left: 40px;
    top: -10px;
    animation: focus .6s infinite linear;
}

@keyframes focus {
    0% {
        box-shadow: 0px 0px 0px #ffae4346;
    }
    50% {
        box-shadow: 0px 0px 10px #ffae43fa;
    }
    100% {
        box-shadow: 0px 0px 0px #ffae4346;
    }
}


/* Contenido de las tablas */

.table {
    display: grid;
    grid-template-columns: 250px 350px 500px 150px 150px 150px 100px;
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
    transition: .5s;
}

.table p {
    font-weight: 600;
    margin: 10px;
    text-align: center;
    background-color: #2c2c2c63;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    text-transform: capitalize;
}

.description {
    width: 400px;
}

.head p {
    background-color: #006e7246;
}

.subhead p {
    font-weight: 300;
    text-align: center;
    background-color: #006e721a;
}

@keyframes loading {
    0% {
        opacity: .8;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .8;
    }
}

.btn {
    width: 80px;
    height: 80px;
}

.btnStatus {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 3px #83BAF1;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnStatus:hover {
    animation: rotar .5s infinite;
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.btnStatus::after {
    content: "";
    height: 20px;
    width: 3px;
    background-color: #83BAF1;
}

.btnStatus::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 20px;
    background-color: #83BAF1;
}

button[data-show="true"] {
    animation: none;
}

div[data-show="false"] {
    transition: .6s ease-out;
    transform: translateX(-120vw);
    opacity: 0;
}